body {
  background-color: #0f0e17;
}

.App {
  text-align: center;
  align-items: center;
}

.App-header {
  min-height: 100vh;
  background-color: #0f0e17;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media(min-width:300px) {
  .App-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    padding: 100px;
  }
  
  .App-row>.one {
    flex: 1 1 0%;
    max-width: 300px;
    order: 1;
    padding-right: 50px;
  }

  .App-row>.two {
    max-width: 300px;
    order: 1;
    padding-right: 50px;
  }
  
  .App-row>.three {
    max-width: 800px;
    order: 2;
    flex: 2 1 0%;
  }
}

.vl {
  border-left: 1px solid #ff8906;
  height: 700px;
}

hr {
  border: 1px solid #f25f4c;
}